<div id="contacts" aria-label="Contacts">
    <div id="contact-list">
        <ul class="fa-ul contact-list contact-list-icons">
            <li class="contact-item">
                <a href="mailto:luca@soldaini.net" aria-label="Email" title="Email">
                    <span class="list-icon icon-email" aria-hidden="true"></span>
                    <span class="contact-label">Email</span>
                </a>
            </li>
            <li class="contact-item">
                <a href="https://github.com/soldni" target="_blank" rel="noopener" aria-label="GitHub" title="GitHub">
                    <span class="list-icon icon-github" aria-hidden="true"></span>
                    <span class="contact-label">GitHub</span>
                </a>
            </li>
            <li class="contact-item">
                <a href="https://scholar.google.com/citations?user=3KPvwcgAAAAJ" target="_blank" rel="noopener" aria-label="Google Scholar" title="Google Scholar">
                    <span class="list-icon icon-gs" aria-hidden="true"></span>
                    <span class="contact-label">Scholar</span>
                </a>
            </li>
            <li class="contact-item">
                <a href="https://www.linkedin.com/in/soldni" target="_blank" rel="noopener" aria-label="LinkedIn" title="LinkedIn">
                    <span class="list-icon icon-linkedin" aria-hidden="true"></span>
                    <span class="contact-label">LinkedIn</span>
                </a>
            </li>
            <li class="contact-item">
                <a href="https://signal.me/#u/soldni.01" aria-label="Signal" title="Signal">
                    <span class="list-icon icon-signal" aria-hidden="true"></span>
                    <span class="contact-label">Signal</span>
                </a>
            </li>
            <li class="contact-item">
                <a href="https://twitter.com/soldni" aria-label="Twitter / X" title="Twitter / X">
                    <span class="list-icon icon-twitter" aria-hidden="true"></span>
                    <span class="contact-label">Twitter / X</span>
                </a>
            </li>
        </ul>
    </div>
</div>
