@import "variables";

@font-face {
    font-display: swap;
    font-family: "Atkinson Hyperlegible";
    src: local("Atkinson Hyperlegible"),
        url(/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2) format("woff2-variations");
    font-weight: 400 700;
    font-style: normal italic;
}

* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 14pt;
    line-height: 1.3em;
}

// p {
//     // text-align:justify;
// }

a {
    font-size: 1em;
}

h1,h2,h3,h4 {
   letter-spacing: 1px;
}

h1.navbar-h1{
    letter-spacing: 0px;
    font-size: 1.2em;
}

a.navbar-brand{
    text-decoration: none !important;
}

hr {
    margin-bottom: 1.5em;
}

ul {
    margin-left: 2em;
}

a.nav-link{
    margin-left: .3em;
    margin-right: .3em;
}

body {
    @media(prefers-color-scheme: dark) {
        background-color: $dark_white;
        color: $dark_text;
    }
    @media(prefers-color-scheme: light) {
        background-color: $white;
        color: $text;
    }
}

.navbar-text {
    @media(prefers-color-scheme: dark) {
        color: $dark_text;
    }

    @media(prefers-color-scheme: light) {
        color: $text;
    }
}

hr {
    @media(prefers-color-scheme: dark) {
        border-top: 1px solid $dark_lightgrey;
    }
    @media(prefers-color-scheme: light) {
        border-top: 1px solid $lightgrey;
    }

}

.container {
    max-width: $max-width;
}
.navbar-brand {
    @extend %link-dark;
    font-size: 2rem;
    text-decoration: none;
}

.nav-link {
    @extend %link-default;
}

#content {
    blockquote {
        border-left: 4px solid;
        font-style: italic;
        margin: $margin-y 0;
        padding: 8px 8px;
        & p {
            margin: 0;
        }
    }
    code {
        @media(prefers-color-scheme: dark) {
            color: $dark_text;
            font-style: italic;
        }
        @media(prefers-color-scheme: light) {
            color: $text;
            font-style: italic;
        }

    }
    a {
        @extend %link-default;
        code {
            @media(prefers-color-scheme: dark) {
                color: $dark_red;
            }

            @media(prefers-color-scheme: light) {
                color: $red;
            }
        }
        text-decoration: underline;
        text-decoration-style: dashed;
        text-decoration-thickness: 1px;
        text-underline-offset: .15em;
    }

    a:hover {
        text-decoration-style: solid;
        // text-decoration-thickness: .5px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: medium;
        font-weight: bold;
        margin: 1.2rem 0 0.8rem 0;
        margin-top: 2em;
    }


    h3, h4, h5, h6 {
        margin-top: 1em;
    }

    @for $i from 1 through 4 {
        h#{$i} {
            font-size: 1.2rem + 0.2 * (4 - $i);
        }
    }
    div > ol {
        padding-left: 0;
    }
    ol {
        counter-reset: list;
        list-style: none;
        & > li {
            margin: 4px 0;
            &:before {
                content: "[" counter(list, decimal) "] ";
                counter-increment: list;
            }
        }
    }
    pre code {
        color: inherit;
    }
    div > ul {
        padding-left: 0;
    }
    ul {

        list-style-position: outside;
        // list-style: inside;
        & > li {
            margin: .7em 0;
        }
    }
    table {
        margin: $margin-y auto;
        width: 100%;
        & tr {
            & td {
                @extend %table-cell;
                font-size: 0.85em;
                @media(prefers-color-scheme: dark) {
                    border: 1px solid $dark_lightgrey;
                }

                @media(prefers-color-scheme: light) {
                    border: 1px solid $lightgrey;
                }
            }
            & th {
                @extend %table-cell;
                font-weight: bold;
                font-size: 0.85em;
                @media(prefers-color-scheme: dark) {
                    background-color: $dark_lightgrey;
                    border: 1px solid $dark_lightgrey;
                    color: $white;
                }

                @media(prefers-color-scheme: light) {
                    background-color: $lightgrey;
                    border: 1px solid $lightgrey;
                }
                text-align: center;
            }
        }
    }

    .avatar {
        height: $avatar-size;
        width: $avatar-size;
        border-radius: 50%;

        @media(prefers-color-scheme: dark) {
            border: 3px solid $dark_red;
        }

        @media(prefers-color-scheme: light) {
            border: 3px solid $red;
        }
        box-sizing: border-box;

        @media(max-width: $mobile-width) {
            float: center;
            margin-top: -8px;
            margin-left: auto;
            margin-right: auto;
        }
        @media(min-width: $mobile-width) {
            float: right;
            margin: -8px -8px 16px 16px;
        }

    }

    .highlight {
        margin: $margin-y auto;
        & > pre {
            padding: 8px 8px;
        }
    }
}

div#about-me {
    li {
        margin: 0.4em 0;
    }
}

div#avatar-container {
    height: $avatar-size;
    width: $avatar-size;


    @media(max-width: $mobile-width) {
        margin-bottom: 2.5em;
        margin-left: auto;
        margin-right: auto;
    }
    @media(min-width: $mobile-width) {
        margin-bottom: 1.5em;
        float: right;
    }
}

@media(max-width: $tiny-width) {

    .nav-item {
        padding: .0em;
        font-size: .85em;
        text-align: center;
    }
    .mx-1 {
        opacity: 0;
        padding: 0em;
        font-size: 0em;
    }
    .navbar-brand {
        display: inline;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .3em;
        white-space: normal;
        padding: 0em;
        text-decoration: none;
        text-align: center;
    }
}

@media(min-width: $mobile-width) {
    .navbar-expand-sm {
        justify-content: space-between;
    }
}

.tiny-text {
    font-size: .7em;
}
p.center {
    text-align: center;
    margin: auto;
}

#footer {
    a {
        @extend %link-dark;
    }
}

#research-summary, #research-full {
    h5 {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            letter-spacing: 0px;
            font-size: 1em;
            margin-top: 2em;
            margin-bottom: .5em;

        }
    ul {
        margin-top: -.5em;
    }
    hr {
        margin-top: 2em;
        margin-bottom: -1em;
    }
}

#research-full {
    h3 {
        margin-top: 3em;
    }

}

h1#research, h1#publications, h2#about-me, h1#facts {
    margin-top: 1em;
}

span#suit {
    font-size: .7em;
    font-weight: 400;
    padding-bottom: .3em;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
}

ul#suit {
    list-style: none;

}

span.short-authors {
    // make the '+nn authors' text smaller
    font-size: .7em;

    // add a nice round border around the text with some padding
    border-radius: 1em;
    padding: .3em .2em .2em .4em;

    // add a thin border around the text
    @media(prefers-color-scheme: dark) {
        border: 1px solid $dark_lightgrey;
    }
    @media(prefers-color-scheme: light) {
        border: 1px solid $lightgrey;
    }

    // no wrapping
    white-space: nowrap;

    // change the default cursor to a pointer
    cursor: pointer;

    // raise the span vertically by .15em so it looks like it is properly
    // centered with the rest of the text
    vertical-align: .2em;

    // add some nice margin to the left/right of the span
    margin-left: .4em;
    margin-right: .4em;

}

span.long-authors {
    // change the cursor to a pointer
    cursor: pointer;
}

span.call-in {
    // make the text small caps
    font-variant: small-caps;
    font-size: .9em;
    vertical-align: .1em;

    // add a nice round border around the text with some padding
    border-radius: .3em;
    padding: .0em .2em;

    // no wrapping
    white-space: nowrap;

    // change color to either `red` or `darkred` depending on whether we
    // are in light or dark mode
    @media(prefers-color-scheme: dark) {
        color: $dark_red;
        border: 1px solid $dark_red;
    }
    @media(prefers-color-scheme: light) {
        color: $red;
        border: 1px solid $red;
    }
}

span.call-out {
    // make the text small caps
    font-variant: small-caps;
    font-size: .9em;
    vertical-align: .1em;

    // add a nice round border around the text with some padding
    border-radius: .3em;
    padding: .0em .2em;

    // no wrapping
    white-space: nowrap;

    // change color to either `red` or `darkred` depending on whether we
    // are in light or dark mode
    @media(prefers-color-scheme: dark) {
        color: $white;
        background-color: $dark_red;
        border: 1px solid $dark_red;
    }

    @media(prefers-color-scheme: light) {
        color: $white;
        background-color: $red;
        border: 1px solid $red;
    }
}

span.username-link {
    font-size: .65em;
    vertical-align: .5em;
    letter-spacing: -.4px;
    font-family: var(--bs-font-monospace);
    border-radius: .3em;
    padding: .0em .2em;
    margin-left: .2em;
    text-decoration: none;
    display: inline-block;

    @media(prefers-color-scheme: dark) {
            // background-color: $dark_red;
            color: $dark_grey;
            // border: 1px solid $dark_red;
    }

    @media(prefers-color-scheme: light) {
        // background-color: $dark_red;
        color: $grey;
        // border: 1px solid $red;
    }
}

ul.fa-ul {
    list-style-type: none;
}

.icon-bluesky {
    mask: url(/logos/BlueSky.svg);
}
.icon-email {
    mask: url(/logos/Email.svg);
}
.icon-github {
    mask: url(/logos/GitHub.svg);
}
.icon-linkedin {
    mask: url(/logos/LinkedIn.svg);
}
.icon-s2 {
    mask: url(/logos/S2.svg);
}
.icon-twitter {
    mask: url(/logos/Twitter.svg);
}
.icon-gs {
    mask: url(/logos/GoogleScholar.svg);
}
.icon-cc {
    mask: url(/logos/cc.svg);
}
.icon-by {
    mask: url(/logos/by.svg);
}

.href-icon {
    height: 1em;
    width: 1em;
    background-size: cover;
    display: inline-block;
    mask-size: 100%;
    mask-repeat: no-repeat;
    vertical-align: middle;
    margin-bottom: .1em;
    margin-right: .05em;

    @media(prefers-color-scheme: dark) {
        background-color: $dark_red;
    }

    @media(prefers-color-scheme: light) {
        background-color: $red;
    }
}

ul.fa-ul {

    @media(min-width: $mobile-width) {
        margin-top: -1em;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;

        column-gap: 10%;
        -webkit-column-gap: 10%;
        -moz-column-gap: 10%;

        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    @media(max-width: $mobile-width) {
        margin-top: -.5em;
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        width: 95%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

.note {
    font-size: .8em;
    font-style: italic;

    @media(prefers-color-scheme: dark) {
        // color: $dark_text;
        color: $dark_grey;
    }

    @media(prefers-color-scheme: light) {
        // color: $text;
        color: $grey;
    }
}

.list-icon {
    height: 1.2em;
    width: 1.2em;
    background-size: cover;
    display: inline-block;
    mask-size: 100%;
    mask-repeat: no-repeat;
    vertical-align: middle;

    @media(prefers-color-scheme: dark) {
        background-color: $dark_text;
    }

    @media(prefers-color-scheme: light) {
        background-color: $text;
    }

}

.list-icon:hover {
    @media(prefers-color-scheme: dark) {
        background-color: $dark_red;
    }

    @media(prefers-color-scheme: light) {
        background-color: $red;
    }
}


div#license{
    margin-top: 2em;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    p {
        font-size: .8em;
    }

    @media(prefers-color-scheme: dark) {
        color: $dark_grey;
        a {
            color: $dark_grey;
        }
        a:hover {
            color: $dark_grey;
        }
    }

    @media(prefers-color-scheme: light) {
        // color: $text;
        color: $grey;
        a {
            color: $grey;
        }
        a:hover {
            color: $grey;
        }
    }

    .license-icon {
        height: .9em;
        width: .9em;
        background-size: cover;
        display: inline-block;
        mask-size: 100%;
        mask-repeat: no-repeat;
        vertical-align: middle;
        margin-left: 1px;
        margin-bottom: 4px;

        @media(prefers-color-scheme: dark) {
            background-color: $dark_grey;
        }

        @media(prefers-color-scheme: light) {
            background-color: $grey;
        }

    }
}
