@import "variables";

* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 14pt;
    line-height: 1.3em;
}

// p {
//     // text-align:justify;
// }

a {
    font-size: 1em;
}

h1,h2,h3,h4 {
   letter-spacing: 1px;
}

h1.navbar-h1{
    letter-spacing: 0px;
    font-size: 1.2em;
}

a.navbar-brand{
    text-decoration: none !important;
}

hr {
    margin-bottom: 1.5em;
}

ul {
    margin-left: 2em;
}

a.nav-link{
    margin-left: .3em;
    margin-right: .3em;
}

body {
    @media(prefers-color-scheme: dark) {
        background-color: $dark_white;
        color: $dark_text;
    }
    @media(prefers-color-scheme: light) {
        background-color: $white;
        color: $text;
    }
}

hr {
    @media(prefers-color-scheme: dark) {
        border-top: 1px solid $dark_lightgrey;
    }
    @media(prefers-color-scheme: light) {
        border-top: 1px solid $lightgrey;
    }

}

.container {
    max-width: $max-width;
}
.navbar-brand {
    @extend %link-dark;
    font-size: 2rem;
    text-decoration: none;
}

.nav-link {
    @extend %link-default;
}
#content {

    blockquote {
        border-left: 4px solid;
        font-style: italic;
        margin: $margin-y 0;
        padding: 8px 8px;
        & p {
            margin: 0;
        }
    }
    code {
        @media(prefers-color-scheme: dark) {
            color: $dark_text;
            font-style: italic;
        }
        @media(prefers-color-scheme: light) {
            color: $text;
            font-style: italic;
        }

    }
    a {
        @extend %link-default;
        code {
            @media(prefers-color-scheme: dark) {
                color: $dark_red;
            }

            @media(prefers-color-scheme: light) {
                color: $red;
            }
        }
        text-decoration: underline;
        text-decoration-style: dashed;
        text-underline-offset: 2px;
    }

    a:hover {
        text-decoration-style: solid;
        // text-decoration-thickness: .5px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: medium;
        font-weight: bold;
        margin: 1.2rem 0 0.8rem 0;
        margin-top: 2em;
    }


    h3, h4, h5, h6 {
        margin-top: 1em;
    }

    // h1, h2, h3 {
    //     margin-top: 3em;
    // }

    @for $i from 1 through 4 {
        h#{$i} {
            font-size: 1.2rem + 0.2 * (4 - $i);
        }
    }
    img {
        display: block;
        margin: $margin-y auto;
    }
    div > ol {
        padding-left: 0;
    }
    ol {
        counter-reset: list;
        list-style: none;
        & > li {
            margin: 4px 0;
            &:before {
                content: "[" counter(list, decimal) "] ";
                counter-increment: list;
            }
        }
    }
    pre code {
        color: inherit;
    }
    div > ul {
        padding-left: 0;
    }
    ul {

        list-style-position: outside;
        // list-style: inside;
        & > li {
            margin: .3em 0;
        }
    }
    table {
        margin: $margin-y auto;
        width: 100%;
        & tr {
            background-color: $white;
            border: 1px solid $lightgrey;
            & td {
                @extend %table-cell;
            }
            & th {
                @extend %table-cell;
                font-weight: bold;
            }
            &:nth-child(2n) {
                background-color: $lightgrey;
            }
        }
    }

    .avatar {
        height: $avatar-size;
        width: $avatar-size;
        border-radius: 50%;
        @media(max-width: $mobile-width) {
            float: center;
            margin-top: -8px;
            margin-left: auto;
            margin-right: auto;
        }
        @media(min-width: $mobile-width) {
            float: right;
            margin: -8px -8px 16px 16px;
        }

    }

    .highlight {
        margin: $margin-y auto;
        & > pre {
            padding: 8px 8px;
        }
    }
}

div#avatar-container {
    height: $avatar-size;
    width: $avatar-size;
    @media(max-width: $mobile-width) {
        margin-bottom: 2.5em;
        margin-left: auto;
        margin-right: auto;
    }
    @media(min-width: $mobile-width) {
        margin-bottom: 1.5em;
        float: right;
    }
}



@media(max-width: $tiny-width) {

    .nav-item {
        padding: .0em;
        font-size: .85em;
    }
    .mx-1 {
        opacity: 0;
        padding: .3em;
        font-size: .5em;
    }
    .navbar-brand {
        display: inline;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .3em;
        white-space: pre-wrap;
        padding: 0em;
        text-decoration: none;
    }

}

.tiny-text {
    font-size: .7em;
}
p.center {
    text-align: center;
    margin: auto;
}

#footer {
    a {
        @extend %link-dark;
    }
}

#research-summary, #research-full {
    h5 {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            letter-spacing: 0px;
            font-size: 1em;
            margin-top: 2em;
            margin-bottom: .5em;

        }
    ul {
        margin-top: -.5em;
    }
    hr {
        margin-top: 2em;
        margin-bottom: -1em;
    }
}

#research-full {
    h3 {
        margin-top: 3em;
    }

}

h1#research, h1#publications, h2#about-me, h1#facts {
    margin-top: 1em;
}

span#suit {
    font-size: .7em;
    font-weight: 400;
    padding-bottom: .3em;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
}

ul#suit {
    list-style: none;

}
