@import "variables";

* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 14pt;
    line-height: normal;
}

p {
    // text-align:justify;
}

a {
    font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
   letter-spacing: 1px;
}

h1.navbar-h1{
    letter-spacing: 0px;
    font-size: 1.2em;
}

a.navbar-brand{
    text-decoration: none !important;
}

hr {
    margin-bottom: 1.5em;
}

ul {
    margin-left: 2em;
}

a.nav-link{
    margin-left: .3em;
    margin-right: .3em;
}

body {
    @media(prefers-color-scheme: dark) {
        background-color: $dark_white;
        color: $dark_text;
    }
    @media(prefers-color-scheme: light) {
        background-color: $white;
        color: $text;
    }
}

hr {
    @media(prefers-color-scheme: dark) {
        border-top: 1px solid $dark_lightgrey;
    }
    @media(prefers-color-scheme: light) {
        border-top: 1px solid $lightgrey;
    }

}

.container {
    max-width: $max-width;
}
.navbar-brand {
    @extend %link-dark;
    font-size: 2rem;
    text-decoration: none;
}

.nav-link {
    @extend %link-default;
}
#content {
    a {
        @extend %link-default;
    }
    blockquote {
        border-left: 4px solid;
        font-style: italic;
        margin: $margin-y 0;
        padding: 8px 8px;
        & p {
            margin: 0;
        }
    }
    code {
        @media(prefers-color-scheme: dark) {
            color: $lightgrey;
        }
        @media(prefers-color-scheme: light) {
            color:$dark_lightgrey;
        }

    }
    h1, h2, h3, h4, h5, h6 {
        font-size: medium;
        font-weight: bold;
        line-height: normal;
        margin: 1.2rem 0 0.8rem 0;
    }
    @for $i from 1 through 4 {
        h#{$i} {
            font-size: 1.2rem + 0.2 * (4 - $i);
        }
    }
    img {
        display: block;
        margin: $margin-y auto;
    }
    div > ol {
        padding-left: 0;
    }
    ol {
        counter-reset: list;
        list-style: none;
        & > li {
            margin: 4px 0;
            &:before {
                content: "[" counter(list, decimal) "] ";
                counter-increment: list;
            }
        }
    }
    pre code {
        color: inherit;
    }
    div > ul {
        padding-left: 0;
    }
    ul {

        list-style-position: outside;
        // list-style: inside;
        & > li {
            margin: .3em 0;
        }
    }
    table {
        margin: $margin-y auto;
        width: 100%;
        & tr {
            background-color: $white;
            border: 1px solid $lightgrey;
            & td {
                @extend %table-cell;
            }
            & th {
                @extend %table-cell;
                font-weight: bold;
            }
            &:nth-child(2n) {
                background-color: $lightgrey;
            }
        }
    }

    .avatar {
        height: $avatar-size;
        width: $avatar-size;
        border-radius: 50%;
        @media(max-width: $mobile-width) {
            float: center;
            margin-top: -8px;
            margin-left: auto;
            margin-right: auto;
        }
        @media(min-width: $mobile-width) {
            float: right;
            margin: -8px -8px 16px 16px;
        }

    }

    .highlight {
        margin: $margin-y auto;
        & > pre {
            padding: 8px 8px;
        }
    }
}

div#avatar-container {
    height: $avatar-size;
    width: $avatar-size;
    @media(max-width: $mobile-width) {
        margin-bottom: 2.5em;
        margin-left: auto;
        margin-right: auto;
    }
    @media(min-width: $mobile-width) {
        margin-bottom: 1.5em;
        float: right;
    }
}



@media(max-width: $tiny-width) {

    .nav-item {
        padding: .0em;
        font-size: .85em;
    }
    .mx-1 {
        opacity: 0;
        padding: .3em;
        font-size: .5em;
    }
    .navbar-brand {
        display: inline;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .3em;
        white-space: pre-wrap;
        padding: 0em;
        text-decoration: none;
    }

}

.tiny-text {
    font-size: .7em;
}
p.center {
    text-align: center;
    margin: auto;
}

#footer {
    a {
        @extend %link-dark;
    }
}
