// Sizes
$max-width: 900px;
$margin-y: 16px;
$avatar-size: 256px;
$mobile-width: 500px;
$tiny-width: 340px;

// Colors
$green: #28a745;
$red: #b24d66;
$white: #fafafa;
$grey: #7a8990;
$lightgrey: #C0C5CC;
$text: #444756;

// Dark colors
$dark_green: #28a745;
$dark_red: #e2a8aa;
$dark_white: #282A33;
$dark_lightgrey: #626262;
$dark_grey: #8e959b;
$dark_text: #C0C5CC;


// Placeholders
%link-default {
    @media(prefers-color-scheme: dark) {
        color: $dark_red;
    }
    @media(prefers-color-scheme: light) {
        color: $red;
    }
    text-decoration: none;
    &:hover {
        @media(prefers-color-scheme: dark) {
            color: $dark_red;
        }
        @media(prefers-color-scheme: light) {
            color: $red;
        }
        text-decoration: underline;
    }
}
%link-dark {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}
%table-cell {
    border: 1px solid #cccccc;
    padding: 6px 12px;
    text-align: left;
}
