{{ with .Site.Params.footer }}
    <div id="footer">
        <hr>
        <div class="container text-center mb-2">
            <a href="{{ .url | absURL }}"><small>{{ .text }}</small></a>
        </div>
    </div>

{{ end }}

<script type="text/javascript">
    var front = document.getElementById('front-avatar');
    var back = document.getElementById('back-avatar');
    front.style.display = 'block';
    back.style.display = 'none';

    document.getElementById('avatar-container').onclick = function () {
        console.log('Swapping!');

        console.log('front: ' + front.style.display);
        console.log('back: ' + back.style.display);

        if (front.style.display == 'none') {
            front.style.display = 'block';
            back.style.display = 'none';
        } else if (back.style.display == 'none') {
            back.style.display = 'block';
            front.style.display = 'none';
        }
    }
</script>

<!-- load content at the end to speedup first render -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
<script src="https://kit.fontawesome.com/7e36e3ece4.js" crossorigin="anonymous"></script>
