<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ .Title }}</title>
    <base href="{{ .Site.BaseURL }}">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content='{{ .Site.Params.author }}'>
        <meta name="keywords" content="{{ .Site.Params.keywords }}">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
    <meta name="google-site-verification" content=" {{ .Site.Params.google_site_validation }}" />
    <meta name="msvalidate.01" content="{{ .Site.Params.msvalidate_01 }}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    {{ $style := resources.Get "sass/researcher.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <link rel="apple-touch-icon" sizes="57x57" href="/new-favicon/composed/light/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/new-favicon/composed/light/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/new-favicon/composed/light/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/new-favicon/composed/light/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/new-favicon/composed/light/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/new-favicon/composed/light/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/new-favicon/composed/light/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/new-favicon/composed/light/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/new-favicon/composed/light/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/new-favicon/composed/light/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/new-favicon/composed/light/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/new-favicon/composed/light/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/new-favicon/composed/light/favicon-16x16.png">
    <link rel="manifest" href="/new-favicon/composed/light/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/new-favicon/composed/light/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
