<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ .Title }}</title>
    <base href="{{ .Site.BaseURL }}">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content='{{ .Site.Params.author }}'>
        <meta name="keywords" content="{{ .Site.Params.keywords }}">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
    <meta name="google-site-verification" content=" {{ .Site.Params.google_site_validation }}" />
    <meta name="msvalidate.01" content="{{ .Site.Params.msvalidate_01 }}" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {{ $style := resources.Get "sass/researcher.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    {{ with .Site.Params.favicon }}
    <link rel="icon" type="image/ico" href="{{ . | absURL }}">
    {{ end }}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-X15XFHYC4L');
    </script>
</head>
